* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL STYLES */
:root {
  --fonte-principal: 'Open Sans', sans-serif;
  --largura-sidebar: 15%;
  --page-height: 100vh;
  --main-color: midnightblue
}

.body {
  font-family: var(--fonte-principal);
  display: flex;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  color: #fff;
  width: var(--largura-sidebar);
  min-width: 230px;
  height: var(--page-height);
  box-shadow: 3px 0 7px #000a;
  padding: 30px 20px;
  gap: 25px
}

.side-bar-display {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.sidebar-icon-box {
  width: 50px;
  text-align: center;
}

.main-content {
  width: calc(100% - var(--largura-sidebar));
  height: var(--page-height);
  padding: 15px;
}

/* LANDING PAGE */

.pricing-cards {
  color: red
}


/* LOGIN PAGE */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--main-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
  min-height: 50vh;
  padding: 30px;
  font-family: var(--fonte-principal);
  background-color: #fff;
}

.login-form h2 {
  text-align: center;
}

.login-input {
  font-size: 17px;
  font-weight: bold;
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-left: 3px solid #ccc;
  outline: none;
}

.login-input::placeholder {
  font-size: 17px;
  font-weight: bold;
}

.login-button {
  padding: 7px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.input-image {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.input-image:hover {
  background-color: #45a049;
}


/* HOME PAGE */