* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */

:root {
  --fonte-principal: 'Open Sans', sans-serif;
  --text-color: #555;
  --largura-sidebar: 200px;
  --topbar-height: 9vh;
  --page-height: 91vh;
  --main-color: midnightblue;
  --dark-green: #26bc6a;
  --light-green: #c9eeda;
  --dark-blue: #266abc;
  --light-blue: #c9daee;
  --dark-yellow: #ecd60b;
  --light-yellow: #edec9e;
  --border-color: #ccc;
  --card-width: 600px;
  --border-radius: 5px;
  --border-test: 1px solid red;
}

.body {
  font-family: var(--fonte-principal);
  display: flex;
  flex-direction: column;
}

/* INPUTS */

.input,
.select-file-btn {
  font-size: 13px;
  font-weight: bold;
  color: var(--text-color);
  width: 200px;
  padding: 6px;
  background-color: #d5d7d9;
  border-radius: var(--border-radius);
  border: 1px solid #333;
  outline: none;
}

.input::placeholder {
  font-size: 13px;
  font-weight: bold;
}

.button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
}

.button:disabled {
  opacity: 0.7; 
  cursor: not-allowed; 
}

.submit-button,
.return-button {
  color: #87CEEB;
}

.submit-button:hover,
.return-button:hover {
  color: #1673fa;
}

/* FORMS */

.form-title {
  text-align: center;
  color: #ffffff;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  height: fit-content;
}

.user-form div:first-of-type {
  display: flex;
  justify-content: center;
  gap: 30%;
}

.error-message {
  color: #ef3546;
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0 5px #ff0000;
}

/* TOPBAR */

.topbar {
  height: var(--topbar-height);
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #353b40
}

.logo {
  font-size: 30px;
  color: #ddd;
}

.photo-topbar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.user-topbar {
  color: #353b40;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-topbar:hover,
.user-topbar:hover {
  box-shadow: 0 0 5px #ddd;
}

.profile-container-topbar {
  height: fit-content;
  width: fit-content;
  padding: 25px;
  background-color:#212529;
  border-radius: var(--border-radius);

  position: fixed;
  right: 15px;
  top: 70px;
}

.profile-data-topbar {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.username-topbar {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

.email-topbar,
.position-topbar,
.company-topbar {
  color: #ddd;
  font-size: 16px;
  font-style: italic;
}

.profile-action {
  color: #87CEEB;
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

.profile-action:hover {
  color: #1673fa;
}

.profile-action:last-of-type {
  color: #dd735a;
}

.profile-action:last-of-type:hover {
  color: #ff4030;
}

.topbar-icon-box {
  padding-right: 7px;
  text-align: center;
}

/* BODY CONTENT */

.display-flex {
  display: flex;
}

/* MAIN CONTENT */

.main-content {
  width: calc(100% - var(--largura-sidebar));
  max-height: var(--page-height);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.main-content::-webkit-scrollbar {
    width: 12px;
}

.main-content::-webkit-scrollbar-track {
  background-color: #cde;
  border-radius: 6px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #353b40;
  border-radius: 6px;
}

.page-title {
  color: var(--text-color);
  background-color: #cde;
  padding: 10px 30px;
  border-radius: var(--border-radius);
}

/* SIDEBAR */

.sidebar {
  width: var(--largura-sidebar);
  height: var(--page-height);
  background-color: #212529;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-link {
  font-size: 16px;
  font-weight: bold;
  color: #a0a2a4;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
}

.sidebar-link:hover,
.active-link {
  color: #ffffff;
}

.sidebar-icon-box {
  width: 40px;
  text-align: center;
}



/* LANDING PAGE */

.pricing-cards {
  color: red
}


/* LOGIN PAGE */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--main-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  min-height: 50vh;
  padding: 30px;
  font-family: var(--fonte-principal);
  background-color: #fff;
}

.login-form h2 {
  text-align: center;
}

.login-button {
  padding: 7px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}


/* HOME PAGE */


/* PROFILE PAGE */

.profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  gap: 30px;
  min-width: 500px;
  padding: 20px 30px;
  border-radius: var(--border-radius);
  border: 2px solid var(--dark-green);
  box-shadow: 0 0 7px #000a;
  background-color: #fff;
}

.profile-card div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px
}

.profile-photo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 8px #000000;
}

.profile-username {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}

.profile-position {
  font-size: 20px;
  color: var(--text-color);
}

/* CARDS */

.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.card {
  text-decoration: none;
  display: flex;
  box-shadow: 0 0 8px #555555aa;
  border-radius: var(--border-radius);
}

.card-title {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: var(--card-width);
  padding: 20px 15px;
  background-color: #353b40;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card-description {
  color: var(--text-color);
  width: var(--card-width);
  padding: 10px 15px;
  min-height: 100px;
  border: 3px solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-description:hover {
  border: 3px solid var(--dark-green);
  border-top: none;
}