* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL STYLES */


:root {
  --fonte-principal: 'Open Sans', sans-serif;
  --text-color: #555;
  --largura-sidebar: 320px;
  --page-height: 100vh;
  --main-color: midnightblue;
  --dark-color: #26bc6a;
  --light-color: #c9eeda;
  --border-color: #ccc;
  --card-width: 600px;
  --border-radius: 15px;
}

.body {
  font-family: var(--fonte-principal);
  display: flex;
  justify-content: flex-end;
}

.main-content {
  width: calc(100% - var(--largura-sidebar));
  min-height: var(--page-height);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--largura-sidebar);
  height: var(--page-height);
  background-color: #fff;
  box-shadow: 3px 0 7px #000a;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;  
  gap: 10px;
}

.sidebar-display {
  font-size: 17px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  padding: 20px 0;
  padding-left: 40px;
  border-radius: var(--border-radius);
  border: 2px solid var(--dark-color);

  display: flex;
}

.sidebar-display:hover {
  background-color: var(--light-color);
  border: 2px solid #ffffff00;
}

.active-link {
  background-color: var(--dark-color);
  border: 2px solid #ffffff00;
  color: #fff
}

.active-link:hover {
  background-color: var(--dark-color);;
}

.sidebar .logout {
  margin-top: auto;
}

.sidebar-icon-box {
  width: 50px;
  text-align: center;
}

.profile-container-sidebar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.profile-name-sidebar {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name-sidebar p:first-child {
  font-weight: bold;
  font-size: 16pt;
  color: var(--dark-color);;
}

.profile-name-sidebar p:last-child {
  font-size: 13px;
  color: var(--text-color);
}

.photo-container-sidebar {
  width: 62px;
  height: 62px;
}

.profile-photo-sidebar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.page-title {
  color: var(--text-color);
}

/* LANDING PAGE */

.pricing-cards {
  color: red
}


/* LOGIN PAGE */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--main-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  min-height: 50vh;
  padding: 30px;
  font-family: var(--fonte-principal);
  background-color: #fff;
}

.login-form h2 {
  text-align: center;
}

.login-input {
  font-size: 17px;
  font-weight: bold;
  padding: 15px 10px;
  border: 1px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  outline: none;
}

.login-input::placeholder {
  font-size: 17px;
  font-weight: bold;
}

.login-button {
  padding: 7px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.input-image {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.input-image:hover {
  background-color: #45a049;
}


/* HOME PAGE */


/* PROFILE PAGE */
.profile-container {
  width: 150px;
  height: 150px;
  border: 1px solid red;
}

.profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* CARDS */

.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.card {
  text-decoration: none;
  display: flex;
  box-shadow: 0 0 8px #555555aa;
  border-radius: var(--border-radius);
}

.card-title {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: var(--card-width);
  padding: 20px 15px;
  background-color: var(--dark-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card-description {
  color: var(--text-color);
  width: var(--card-width);
  padding: 10px 15px;
  min-height: 100px;
  border: 3px solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-description:hover {
  border: 3px solid var(--dark-color);
  border-top: none;
}